.heading {
    text-align: left;
    font-weight: bold;
}

.cart-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin: 30px;
}

.cart-item {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart-item img {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.cart-info {
    padding: 15px;
}

.cart-info .descrizione {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.cart-info .prezzo {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
}

.cart-info .categoria {
    font-size: 0.9em;
    color: #777;
}

/* Stile per il bottone di rimozione */
.cart-item .remove-from-cart {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: red;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    transition: opacity 0.3s ease;
    opacity: 1;
}