.heading {
    text-align: left;
    font-weight: bold;
}

.text-center {
    text-align: center;
    font-size: var(--text-size-large);
    margin-top: 50px;
}

.cart-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin: 30px;
}

.cart-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart-item img {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.cart-info {
    padding: 15px;
}

.cart-info .descrizione {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.cart-info .prezzo {
    font-size: 1em;
    color: var(--fourth-color);
    margin-bottom: 5px;
}

.cart-info .categoria {
    font-size: 0.9em;
    color: #777;
}

/* Stile per il bottone di rimozione */
.cart-item .remove-from-cart {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: solid 2px rgb(214, 4, 4);
    color: #6c0000;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    transition: opacity 0.3s ease;
    opacity: 1;
}
.cart-item .remove-from-cart:hover {
    background-color: rgb(214, 4, 4);
    color: #fff;
}

.button {
    text-align: center;
    font-size: var(--text-size-large);
    margin-top: 50px;
}

.button a {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: var(--text-size-large);
    transition: color 0.3s ease;
    margin: 20px auto;
    text-align: center;
}

.button a:hover {
    color: var(--second-color);
}