.heading {
    text-align: left;
    font-weight: bold;
}

.alert-container {
    display: block;
    width: 100%;
    position: absolute;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
}
.alert-container.show {
    height: 50px; /* Altezza dell'alert */
    opacity: 1;
}
.alert {
    background-color: #d4edda;
    color: #155724;
    font-size: var(--text-size-medium);
    padding: 10px 15px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

.catalogo-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin: 30px;
}

/*  
    Limita il numero massimo di colonne a 4: al di sotto di 800px di larghezza dello schermo 
    il layout sarà comunque responsive e gestito automaticamente 
*/
@media (min-width: 800px) {
    .catalogo-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.catalogo-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.catalogo-item img {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.catalogo-info {
    padding: 15px;
}

.catalogo-info .descrizione {
    font-size: var(--text-size-medium);
    margin-bottom: 10px;
}

.catalogo-info .prezzo {
    font-size: var(--text-size-medium);
    color: #333;
    margin-bottom: 5px;
}

.catalogo-info .categoria {
    font-size: var(--text-size-small);
    color: #777;
}



/* Stile per la call to action */
.catalogo-item .add-to-cart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--first-color);
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: var(--text-size-medium);
    transition: opacity 0.4s ease;
    opacity: 0;
}

/* Mostra la call to action al passaggio del mouse */
.catalogo-item:hover .add-to-cart {
    opacity: 1;
}