/* Colori del Brand */
:root {
    --oro-champagne: #cbae05; /* Oro Champagne */
    --bianco-perla: #f7f4f0; /* Bianco Perla */
    --nero-opaco: #1a1a1a; /* Nero Opaco */
}

/* Stile Generale */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bianco-perla);
    color: var(--nero-opaco);
    min-height: 100vh;
    font-weight: 300;
    text-align: justify;
}

body section:first-child h1{
    font-size: 30px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bianco-perla); 
    color: var(--nero-opaco);
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    text-align: justify;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
    font-family: 'Playfair Display';
}

.container-contatti {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    font-size: 30px;
}

.link-contatti {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-size: 20px;
    align-items: center;
}

.indirizzo-email {
    padding-left: 200px;
}

.link-instagram {
    padding-right: 200px;
}

.email {
    padding-left: 200px;
}

.instagram {
    padding-right: 200px;
    text-align: right;
}

.titolo-paragrafo {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.orari {
    margin-left: 30px;
    font-size: 20px;
}
