.heading {
    text-align: left;
    font-weight: bold;
}

/* Contenitore principale che utilizza Flexbox per allineare le colonne */
.contacts-container {
    display: flex; 
    justify-content: space-between;
}

/* Colonne dei contatti */
.contacts {
    flex: 1;    /* Permette agli elementi di crescere per riempire lo spazio disponibile */
    margin: 10px 10px;
    padding: 20px;
    background-color: #f9f9f9; /* Colore di sfondo delle colonne */
    border-radius: 8px;     /* Arrotondo gli angoli delle colonne */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Aggiungo un'ombra leggera alle colonne */
}

.contacts p {
    line-height: 1.5;
}

.contacts a {
    color: var(--second-color);
}

.contacts a:hover {
    text-decoration: underline;
}

.email-info, .instagram-info {
    margin-bottom: 20px;
    text-align: justify;
}


/* Stile per la tabella degli orari */
.hours-table {
    width: 100%; /* La tabella occupa l'intera larghezza del contenitore */
    border-collapse: collapse; /* Rimuovo gli spazi tra le celle */
}

.hours-table .day, .hours-table .time {
    padding: 8px 5px; /* Aggiungo spazio interno alle celle */
}

.hours-table tr {
    border-bottom: 1px solid #ddd; /* Aggiungo una linea di separazione tra le righe */
}

.hours-table .day {
    font-weight: bold; /* Rendo il testo in grassetto */
}

/* Stile per la tabella che contiene l'immagine del negozio */
.visit-table {
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.visit-table td {
    width: 50%; /* Ogni cella occupa il 50% della larghezza della tabella */
    padding: 20px;
    vertical-align: middle; /* Allinea verticalmente il contenuto al centro */
}

.visit-table p {
    text-align: justify; 
}

.visit-table a {
    color: var(--fourth-color);
    text-decoration: underline;
    transition: color 0.3s ease; /* Regolo la transizione da un colore all'altro */
}

.visit-table a:hover {
    color: var(--second-color);
}

.visit-image {
    width: 100%; /* Imposto la larghezza dell'immagine al 100% */
    border-radius: 8px; /* Arrotondo gli angoli dell'immagine */
}



/* Rendo la pagina responsive per smartphone */
@media (max-width: 820px) {
    .contacts-container {
        flex-direction: column; /* Dispongo le colonne in verticale sui dispositivi più piccoli */
    }

    .hours-table .day, .hours-table .time {
        display: block; /* Rendo le celle blocchi per andare su più righe */
        width: 100%; /* Ogni cella occupa l'intera larghezza disponibile */
        text-align: left; /* Allineo il testo a sinistra */
    }
}

@media (max-width: 600px) {
    .visit-table h2 {
        font-size: var(--text-size-large);
    }

    .visit-table p {
        font-size: var(--text-size-small);
    }

}