.heading {
    text-align: left;
    font-weight: bold;
}

/* Contenitore principale che utilizza Flexbox per allineare le colonne */
.contacts-container {
    display: flex; 
    justify-content: space-between;
}

/* Colonne dei contatti */
.contacts {
    flex: 1;    /* Permette agli elementi di crescere per riempire lo spazio disponibile */
    margin: 10px 10px;
    padding: 20px;
    background-color: #f9f9f9; /* Colore di sfondo delle colonne */
    border-radius: 8px;     /* Arrotonda gli angoli delle colonne */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra leggera alle colonne */
}

.contacts h2 {
    margin-bottom: 10px;
}

.contacts p {
    color: #333;
    line-height: 1.5;
}

.contacts a {
    color: var(--second-color);
}

.contacts a:hover {
    text-decoration: underline;
}

.email-info, .instagram-info {
    margin-bottom: 20px;
    text-align: justify;
}




/* Stile per la tabella degli orari */
.hours-table {
    width: 100%; /* La tabella occupa l'intera larghezza del contenitore */
    border-collapse: collapse; /* Rimuove gli spazi tra le celle */
}

.hours-table .day, .hours-table .time {
    padding: 8px 5px; /* Aggiunge spazio interno alle celle */
}

.hours-table tr {
    border-bottom: 1px solid #ddd; /* Aggiunge una linea di separazione tra le righe */
}

.hours-table .day {
    font-weight: bold; /* Rende il testo in grassetto */
}


/* Rende la pagina responsive */
@media (max-width: 600px) {
    .contacts-container {
        flex-direction: column; /* Dispone le colonne in verticale sui dispositivi più piccoli */
    }

    .hours-table .day, .hours-table .time {
        display: block; /* Rende le celle blocchi per andare su più righe */
        width: 100%; /* Ogni cella occupa l'intera larghezza disponibile */
        text-align: left; /* Allinea il testo a sinistra */
    }
}