a {
    text-decoration: none;
}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.contattaci {
    text-align: center;
}

.contatti {
    text-align: center;
    padding-bottom: 10px;
    font-style: italic;
}

.email {
    padding-bottom: 10px;
}

.instagram {
    padding-top: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding-bottom: 40px;
}

.row {
    display: contents;
}

.column {
    text-align: center;
}

.icons .column i {
    font-size: 40px;
}

.texts .column {
    font-size: 20px;
}
