.heading {
    text-align: left;
    font-weight: bold;
}

/* Contenitore principale con layout a griglia */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Definisce 4 colonne di larghezza uguale */
    gap: 20px;
    text-align: center;
}

/* Elementi della griglia con layout flessibile */
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Icone all'interno degli elementi della griglia */
.grid-item i {
    font-size: 2em;
    margin-bottom: 10px;
}

.contact {
    text-align: center;
    margin-top: 80px;
}

.contact a {
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
    transition: color 0.3s ease;
}

.contact a:hover {
    color: var(--second-color); 
}