.heading {
    text-align: left;
    font-weight: bold;
}


/* Contenitore flessibile per le icone */
.flex-container {
    display: flex; /* Utilizzo Flexbox per disporre gli elementi in una riga */
    justify-content: space-around; /* Distribuisco gli elementi con spazio uguale tra di loro */
    align-items: center; 
}

/* Elementi flessibili */
.flex-item {
    display: flex; /* Utilizzo Flexbox per disporre il contenuto all'interno dell'elemento */
    flex-direction: column; /* Posiziono il contenuto in una colonna */
    align-items: center; 
    text-align: center; 
    margin: 10px; 
    color: var(--fourth-color);
    transition: color 0.3s ease;
    cursor: pointer;
}
.flex-item:hover {
    color: var(--second-color);
}

/* Icone all'interno degli elementi flessibili */
.flex-item i {
    font-size: var(--text-size-xxlarge);
}

/* Link all'interno degli elementi flessibili */
.flex-item a {
    color: inherit;
}

/* Stile per il testo di supporto */
.contact {
    text-align: center;
    margin-top: 80px;
}
.contact a {
    text-align: center;
    text-decoration: underline;
    color: var(--first-color);
    transition: color 0.3s ease;
}
.contact a:hover {
    color: var(--second-color); 
}


/* Stile per le sezioni FAQ */
.faq-section {
    display: none; /* Nascondo le sezioni FAQ per impostazione predefinita */
    margin-top: 20px;
}
.faq-section.active {
    display: block; /* Mostro la sezione FAQ attiva */
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    background-color: var(--first-color);
    color: whitesmoke;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: var(--second-color);
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 3px solid var(--first-color);
}
.faq-answer.active {
    display: block;
}

