footer {
    background-color: var(--third-color);
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

footer h3 {
    color: rgb(112, 112, 112);
    font-size: medium;
    margin-bottom: 10px;
}

footer a {
    color: white;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--second-color);
}

img {
    max-width: 40px;
    max-height: 40px;
}