header {
    background-color: var(--first-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    border-bottom: 2px solid black;
    position: sticky; /* Fissa l'header in alto */
    top: 0; /* Posiziona l'header in cima alla pagina */
    width: 100%; /* Assicura che l'header occupi l'intera larghezza della pagina */
    z-index: 1000; /* Assicura che l'header sia sopra altri elementi */
    margin-bottom: 50px;
}

.title a {
    font-family: var(--font-title);
    font-size: var(--text-size-xlarge);
    color: white;
}

header a {
    color: white;
    transition: color 0.3s ease;    /* Regola la transizione da un colore all'altro */
}

header i {
    color: white;
    margin: 0 10px;
    font-size: var(--text-size-medium);
    cursor: pointer;
    transition: color 0.3s ease;    /* Regola la transizione da un colore all'altro */
}

header .left-icons {
    padding-left: 54px;
}



header i:hover, a:hover {
    color: var(--second-color);     /* Transizione al colore second-color */
}