header {
    background-color: var(--first-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header .title {
    font-family: var(--font-title);
    font-size: var(--text-size-xlarge);
    color: white;
}

header a {
    color: white;
    transition: color 0.3s ease;    /* Regola la transizione da un colore all'altro */
}

header i {
    color: white;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s ease;    /* Regola la transizione da un colore all'altro */
}

header i:hover, a:hover {
    color: var(--second-color);     /* Transizione al colore second-color */
}