#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;
    border-bottom: transparent 3px solid;
    z-index: 2; 
    transition: all 0.5s ease-in-out;
}

#navbar.color {
background-color: var(--first-color);
border-bottom: var(--second-color) 3px solid;
}

main {
    margin: 0 !important;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100vw; /* Imposto la larghezza al 100% della larghezza della finestra */
    height: 100vh; /* Imposto l'altezza al 100% dell'altezza della finestra */
    overflow: hidden; /* Nascondo eventuali parti del video che escono dal contenitore */
}

.video-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Assicuro che il video occupi l'intera larghezza del contenitore */
    height: 100%; /* Assicuro che il video occupi l'intera altezza del contenitore */
    object-fit: cover; /* Mantengo le proporzioni del video e riempie l'area disponibile */
}

/* Effetto di ingresso per i container */
.hidden {
    opacity: 0; /* Nascondo inizialmente gli elementi */
    transform: translateY(50px); /* Li sposta in basso */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Effetto fluido */
}
  
/* Quando l'elemento entra in viewport */
.show {
    opacity: 1; /* Rendo visibile l'elemento */
    transform: translateY(0); /* Lo riporta alla posizione normale */
}
  

.heading {
    text-align: center; /* Centro il testo e gli elementi all'interno del contenitore */
    margin: 20px;
}

.heading h1 {
    font-size: var(--text-size-xxlarge); 
    color: var(--first-color); 
    margin: 20px; 
}

/* Stile per il pulsante "Scopri la collezione" */
.shop-button {
    display: inline-block; /* Rendo il pulsante un elemento inline-block */
    background-color: var(--first-color); 
    color: whitesmoke; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; /* Rimuovo la sottolineatura dal link */
    font-size: var(--text-size-medium); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Aggiungo un'ombra leggera al pulsante */
    transition: background-color 0.3s ease; /* Transizione per il cambio di colore di sfondo */
}


/* Stile per gli highlight con immagini e testo */
.highlights-container {
    margin-top: 60px;
}

.highlight .highlight-text {
    flex: 1;
}

.highlight-text {
    text-align: justify;
    max-width: 550px;
    margin: 0 auto;
    padding: 0 20px;
}

.highlight .highlight-title {
    margin: 0 0 10px;
    font-size: 26px;
    color: var(--first-color);
}

.highlight .highlight-p {
    margin: 0;
    font-size: var(--text-size-large);
    color: #333;
    text-align: justify;
}

.highlight {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.highlight img {
    width: 50%; /* Le immagini occupano il 50% dello spazio orizzontale */
}

.highlight.reverse {
    flex-direction: row-reverse;
}

.highlight.reverse img {
    margin-right: 0;
}

/* Sezione gioielli in oro */
.section-image {
    width: 100vw; /* Imposto la larghezza al 100% della larghezza della finestra */
    height: 100vh; /* Imposto l'altezza al 100% dell'altezza della finestra */
    display: flex; /* Assicuro che il contenitore utilizzi Flexbox */
    justify-content: center; /* Centro l'immagine orizzontalmente */
    align-items: center; /* Centro l'immagine verticalmente */
    position: relative;
    overflow: hidden; /* Nascondo eventuali parti dell'immagine che escono dal contenitore */
    object-fit: cover; /* Mantengo le proporzioni del video e riempie l'area disponibile */
}

.section-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Assicuro che l'immagine occupi l'intera larghezza del contenitore */
    height: 100%; /* Assicuro che l'immagine occupi l'intera altezza del contenitore */
    object-fit: cover; /* Mantengo le proporzioni dell'immagine e riempie l'area disponibile */
}

/* Stile per il testo sovrapposto */
.overlay-text-one {
    position: absolute; /* Posiziono il testo in modo assoluto sopra l'immagine */
    top: 75%; /* Posiziono il testo a metà dell'immagine */
    color: white; 
    text-align: left;  
    left: 0;
    margin: 50px;
}

.section-image h2 {
    font-size: var(--text-size-xxlarge); 
    margin-bottom: 15px;
    color: whitesmoke;
}

.section-image p {
    font-size: var(--text-size-xlarge);
    color: whitesmoke;
}

.section-image p:hover {
    text-decoration: underline;
}

.overlay-text-two {
    position: absolute; /* Posiziono il testo in modo assoluto sopra l'immagine */
    top: 85%; /* Posiziono il testo a metà dell'immagine */
    color: white; 
    text-align: left;  
    left: 0;
    margin: 50px;
}

/* Contenitore per lo scroll orizzontale delle immagini */
.image-scroll-wrapper {
    margin: 14vh 7vw;
    position: relative; /* Posiziono i pulsanti delle frecce in relazione al contenitore */
    display: flex;
    flex-direction: column; /* Dispongo gli elementi in una colonna */
    overflow: hidden; /* Nascondo la scrollbar orizzontale */
}

.text-gallery-container {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Distribuisco lo spazio tra la scritta e i bottoni */
    align-items: center; 
    margin-bottom: 10px; 
}

.text-gallery {
    font-size: var(--text-size-xxlarge); 
    color: var(--first-color); 
    margin: 0; 
}

.image-scroll-container {
    overflow-x: auto; /* Abilito lo scroll orizzontale */
    white-space: nowrap; /* Impedisco il wrapping delle immagini */
    padding: 40px 0; 
    flex: 1; /* Permetto al contenitore di espandersi per riempire lo spazio disponibile */
    scrollbar-width: none; /* Nascondo la scrollbar orizzontale */
}

.image-scroll {
    display: inline-flex; /* Utilizzo Flexbox per disporre le immagini in una riga */
}

.image-scroll img {
    width: 300px; 
    height: auto; 
    max-height: 450px; 
    margin: 0 4vw; 
    border-radius: 8px; 
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5); 
}

/* Stile per i pulsanti delle frecce */
.scroll-button {
    position: absolute; /* Posiziono i pulsanti in modo assoluto */
    background-color: var(--first-color); 
    color: whitesmoke; 
    border: none; /* Rimuovo il bordo del pulsante */
    border-radius: 50%; /* Arrotondo gli angoli del pulsante */
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Cambio il cursore al passaggio del mouse */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Aggiungo un'ombra leggera al pulsante */
    top: 10px; /* Posiziono i pulsanti in alto */
    right: 10px; /* Allineo i pulsanti a destra */
    margin-left: 10px; 
    transition: background-color 0.3s ease; /* Transizione per il cambio di colore di sfondo */
}

.scroll-button.left {
    right: 80px; /* Impedisco il sovrapporsi dei pulsanti */
}

.scroll-button:hover {
    background-color: var(--second-color); /* Cambio il colore di sfondo al passaggio del mouse */
}


/* Stile per il contenitore di autenticazione */
.authentication-container {
    display: flex;
    flex-direction: column; /* Dispongo gli elementi in una colonna */
    text-align: left; 
    margin: 60px auto; /* Centro il contenitore orizzontalmente */
    max-width: 800px; /* Limito la larghezza massima */
}

.authentication-container h2 {
    font-size: var(--text-size-xxlarge);
    margin-bottom: 20px; /* Aggiungo spazio sotto l'h2 */
}

.authentication-content {
    display: flex;
    justify-content: space-between; /* Distribuisco lo spazio tra il paragrafo e il bottone */
    align-items: center; /* Allineo verticalmente gli elementi al centro */
}

.authentication-container p {
    font-size: var(--text-size-large);
    max-width: 600px; /* Limita la larghezza massima del testo */
    margin: 0; 
}

.authentication-container .button {
    padding: 15px 60px; 
    background-color: var(--first-color); /* Colore di sfondo del bottone */
    color: whitesmoke; /* Colore del testo del bottone */
    border: none; 
    border-radius: 5px; 
    text-decoration: none; /* Rimuove la sottolineatura dal link */
    cursor: pointer; 
    white-space: nowrap; 
    transition: background-color 0.3s ease; /* Aggiunge una transizione per il cambio di colore di sfondo */
}

.authentication-container .button:hover {
    background-color: var(--second-color); /* Cambia il colore di sfondo al passaggio del mouse */
}


/* Stile per il pulsante email */
.email-button-container {
    position: fixed; /* Posiziono il contenitore in modo fisso */
    bottom: 20px; 
    right: 20px; 
}
.email-button {
    background-color: var(--first-color); /* Colore di sfondo del pulsante */
    color: whitesmoke; /* Colore del testo del pulsante */
    padding: 10px 20px; /* Padding interno del pulsante */
    border: none; /* Rimuovo il bordo del pulsante */
    border-radius: 5px; /* Arrotondo gli angoli del pulsante */
    text-decoration: none; /* Rimuovo la sottolineatura dal link */
    font-size: var(--text-size-medium); /* Dimensione del testo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Aggiungo un'ombra leggera al pulsante */
    transition: color 0.3s ease; /* Transizione per il cambio di colore di sfondo */
}
.email-button:hover {
    color: var(--second-color); /* Cambio il colore di sfondo al passaggio del mouse */
}

@media (max-width: 900px) {
    .highlight .highlight-p {
        font-size: var(--text-size-medium);        
    }
}


/* Rende la pagina responsive per smartphone */ 
@media (max-width: 600px) {
    header {
        padding: 15px 5px;
    }

    .heading h1 {
        font-size: var(--text-size-large);
    }
    
    .highlight-text {
        max-width: 250px;
    }

    .highlight .highlight-title {
        font-size: 12px;
    }

    .highlight .highlight-p {
        font-size: var(--text-size-small);
    }

    .shop-button {
        padding: 6px 12px;
        font-size: var(--text-size-xsmall);
    }

    .section-image {
        height: 40vh; /* Imposta l'altezza al 40% dell'altezza della finestra */
    }

    .overlay-text-one {
        top: 68%;
        margin: 10px;
    }

    .overlay-text-two {
        margin: 10px;
    }

    .section-image h2 {
        font-size: var(--text-size-large); 
    }
    
    .section-image p {
        font-size: var(--text-size-medium);
    }

    .image-scroll img {
        width: 150px;
        margin: 0 1vw;
    }

    .text-gallery {
        font-size: var(--text-size-xlarge);
    }

    .scroll-button {
        width: 30px;
        height: 30px;
    }

    .scroll-button.left {
        right: 60px;
    }

    .authentication-container {
        margin: 30px auto;
        max-width: 95%;
    }

    .authentication-container h2 {
        font-size: var(--text-size-large);
    }

    .authentication-container p {
        font-size: var(--text-size-medium);
    }

    .authentication-container .button {
        padding: 8px 30px;
        font-size: var(--text-size-small);
        white-space: nowrap; /* Impedisco il wrapping del testo */
    }

    .email-button {
        padding: 6px 12px;
        font-size: var(--text-size-small);
    }
}