.image-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-column {
    text-align: center;
    width: 30%;
}

.image-column img {
    width: 100%;
    height: auto;
}

h2, p {
    text-align: center;
}