section h2 {
    margin-top: 60px;
}

section h3 {
    margin-top: 40px;
    margin-bottom: 0;
}

p {
    margin-top: 20px;
    text-align: justify;
    line-height: 1.3;
}

.p-h3 {
    margin-top: 5px;
}

ul {
    margin-top: 20px;
    margin-left: 40px; /* Aggiungi un margine sinistro per indentare l'elenco */
    list-style-type: lower-latin;
}

li {
    color: var(--fourth-color);
}

.first-li {
    margin-bottom: 10px; /* Aggiungi un margine inferiore per separare gli elementi dell'elenco */
}

.first-li ul {
    margin-top: 0; /* Azzero il margine superiore per allineare l'elenco con il testo precedente */
    list-style-type: lower-roman;
}