/* Colori del Brand */
:root {
    --oro-champagne: #cbae05; /* Oro Champagne */
    --bianco-perla: #f7f4f0; /* Bianco Perla */
    --nero-opaco: #1a1a1a; /* Nero Opaco */
}

/* Stile Generale */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bianco-perla);
    color: var(--nero-opaco);
    font-weight: 300;
    text-align: justify;
}

body section:first-child h1{
    font-size: 30px;
}

/* Sezioni Principali */
main {
    padding: 20px;
}

main h1, main h2 {
    color: var(--oro-champagne);
}

main p {
    line-height: 1.8;
    margin: 10px 0;
    color: var(--nero-opaco);
}

/* Link e Elementi Interattivi */
a {
    color: var(--oro-champagne);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: var(--oro-champagne);
}

/* Bottoni */
button {
    background-color: var(--oro-champagne);
    color: var(--nero-opaco);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--oro-champagne);
    color: var(--bianco-perla);
}